# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
name: Build Windows Wheel

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Build Tools
      run: |
        pip install setuptools wheel ninja

    - name: Install PyTorch CUDA
      run: |
        pip install torch==2.2.2 --index-url https://download.pytorch.org/whl/cu121

    - name: Build Wheel
      run: |
        python setup.py bdist_wheel

    - name: Upload wheel artifacts
      uses: actions/upload-artifact@v3
      with:
        name: wkv-windows-wheel
        path: dist/*.whl

